<div class="container">
	<div class="row">
	  <div class="col-md-12">
	  {% if ok == 'ok' %}
		<div class="alert alert-success"><strong><span class="glyphicon glyphicon-send"></span> Votre message a bien été envoyé (If form ok!)</strong></div>	
	  {% endif %}

	  </div>
	  <form role="form" action="{{ path('bacloocrm_contact2') }}" method="post" {{form_enctype(form) }}>
		<div class="col-lg-6 col-lg-offset-1 text-left">
		  <div class="well well-sm"><strong><i class="glyphicon glyphicon-ok"  aria-hidden="true"></i> Tous les champs sont obligatoires</strong></div>
		  <div class="form-group">
			<label for="InputName">Nom</label>
			<div class="input-group">
			  {{ form_widget(form.name, { 'attr' : { 'class' : 'form-control' } })  }}
			  <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
			</div>
		  </div>
		  <div class="form-group">
			<label for="InputEmail">Adresse Email</label>
			<div class="input-group">
			  {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control' } })  }}
			  <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
			</div>
		  </div>
		  <div class="form-group">
			<label for="InputMessage">Message</label>
			<div class="input-group">
			  {{ form_widget(form.message, { 'attr' : { 'class' : 'form-control' ,'rows' : '5'} })  }}
			  <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
			</div>
		  </div>

		  <input type="submit" name="submit" id="submit" value="Envoyer" class="btn btn-info pull-right">
		  {{ form_row(form._token) }}	
		</div>
	  </form>
	  <hr class="featurette-divider hidden-lg">
	</div>
</div>



	