{# src/Bacloo/CrmBundle/Resources/views/Blog/search.html.twig #}
{% extends "BaclooCrmBundle::layout.html.twig" %}
{% block body %}
<form class="form-horizontal" action="{{ path('bacloocrm_dispatchsl', {'codecontrat':codecont, 'machinedor':machinedor} ) }}" method="post" {{form_enctype(form) }}>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">
				Choissisez une machine de type : {{ typemachine }}
			</h4>
		</div>
		<div class="modal-body">
			{# Partie Locations #}
			<h6>
				Laissez vierge pour supprimer le matériel.
			</h6>	

				<div class="form-group">
				  <div class="col-md-12">
				  {% if erreur is defined and erreur == 1 %}
					<span style="color:red">La machine sélectionnée n'est pas disponible.</span>
				  {% elseif erreur is defined and erreur == 2 %}
					<span style="color:red">La machine sélectionnée n'existe pas.</span>
				  {% endif %}
					<div class="input-group">
						<span class="input-group-addon"><b></b>Code machine</span>
						{{ form_widget(form.codemachineinterne, { 'value': machinedor, 'id' : 'codemachineinterne_1', 'attr' : { 'class' : 'form-control codemachineinterne' }} )  }}
				    </div>
				  </div>
				</div><span id="match2"></span>						
		</div>
		<div class="modal-footer">
			<center>
				<br>
				<input type="submit" class="btn btn-primary" value="Enregistrer"/>
				<a class="btn btn-primary" href="{{ path('bacloocrm_ajouterlocation', {'ficheid':ficheid , 'locid': codecont}) }}"><span>Fermer</span></a>
				{{ form_rest(form) }}
			</center>
		</div>			
	</div>		
</div>
</form>	
<script>
//Autocomplete codemachineinterne
	$(document).ready(function(){
	 $(document).on('keydown', '.codemachineinterne', function() {
	 
	  var id = this.id;
	  var splitid = id.split('_');
	  var index = splitid[1];
	  // Initialize jQuery UI autocomplete
	  $( '#'+id ).autocomplete({
	   source: function( request, response ) {
		$('#match2').html('<img style="width:55px;height:55px;" src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />');
		$.ajax({
		 url: "{{ path('bacloocrm_updatecodemachineinternesl') }}",
		 type: 'post',
		 minLength: 3,
		 dataType: "json",
		 data: {
		  search: request.term,request:1
		 },
		 success: function( data ) {
		  response( data );
		  $('#match2').text(''); 
		 }
		});
	   },
	   
	   select: function (event, ui) {
		$(this).val(ui.item.label); // display the selected text


		return false;
	   }
	  });
	 });
} );
//Fin autocomplete codemachineinterne
</script>		
{% endblock %}