{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Bacloo{% endblock %}</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"type="text/css" />

			<!-- Custom CSS -->
		<link href="{{ asset('css/sb-admin.css') }}"type="text/css" />
		<link href="{{ asset('css/morris.css') }}"type="text/css" />
		<link href="{{ asset('css/full.css') }}" rel="stylesheet">
		
			<!-- Side menu -->	
		<link href="{{ asset('css/slidemenu.css') }}" rel="stylesheet">
		<link rel="icon" href="{{ asset('favicon.ico') }}" />
		

		
	{% endblock %}


	</head>
	<body>

	<br><br>
	{{ texte }}
{{ texte2 }}
{{ texte3 }}
<table cellspacing="0" cellpadding="1" border="1">
    <tr>
        <td rowspan="3">COL 1 - ROW 1<br />COLSPAN 3<br />text line<br />text line<br />text line<br />text line<br />text line<br />text line</td>
        <td>COL 2 - ROW 1</td>
        <td>COL 3 - ROW 1</td>
    </tr>
    <tr>
        <td rowspan="2">COL 2 - ROW 2 - COLSPAN 2<br />text line<br />text line<br />text line<br />text line</td>
         <td>COL 3 - ROW 2</td>
    </tr>
    <tr>
       <td>COL 3 - ROW 3</td>
    </tr>

</table>
<br pagebreak="true"/>
<h1>Welcome to <a href="http://www.tcpdf.org" style="text-decoration:none;background-color:#CC0000;color:black;">&nbsp;<span style="color:black;">TC</span><span style="color:white;">PDF</span>&nbsp;</a>!</h1>
<i>This is the first example of TCPDF library.</i>
<p>This text is printed using the <i>writeHTMLCell()</i> method but you can also use: <i>Multicell(), writeHTML(), Write(), Cell() and Text()</i>.</p>
<p>Please check the source code documentation and other examples for further information.</p>
<p style="color:#CC0000;">TO IMPROVE AND EXPAND TCPDF I NEED YOUR SUPPORT, PLEASE <a href="http://sourceforge.net/donate/index.php?group_id=128076">MAKE A DONATION!</a></p>

	
	</body>
</html>				